<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
</head>
<body>

    <h1>Curriculo</h1>

    <div class="container-img">
        <a href="https://br.linkedin.com/in/marcelomoro1" target="_blank"> <img class="imagem" src="/img/101741773.jpg" alt="Foto de perfil" height="150px" title="dsds"></a>
    </div>

    <h1>Marcelo Moro</h1>
    <h2>Desenvolvedor</h2>

    <div class="container-p">
        <p>Sistema de informação 5º semestre, período noturno<br> desenvolvedor fullstack com preferência pelo backend </p>
    </div>


    <h2>Habilidades</h2>
    <ul>
        <li>Java</li>
        <li>Spring Boot</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Bootstrap</li>
        <li>Lógica de Programação</li>
        <li></li>
    </ul>


    <table class="tabela" style="width:100%; border-collapse: collapse;" border="1">
        <tr>
            <th>Habilidade</th>
            <th>Nivel</th>
            <th>Experiencia</th>
        </tr>
        <tr>
            <td>Java</td>
            <td>Avançado</td>
            <td>10 anos</td>
        </tr>
        <tr>
            <td colspan="2">Tempo atuando na área</td>
            <td id="anos">10 anos</td>
        </tr>
    </table>

    <h2>Projetos</h2>

    <div class="container-p">
        <p>  Sistema de gerenciamento de vendas, projeto web <br>desenvolvido em Java com Spring Boot<br>
            com o foco em gerenciar compras e vendas de </p>
    </div>


    <a class="links" href="https://www.instagram.com/marcelomoro1" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="links" href="mailto:aluno@exemplo.com" target="blank">EMAIL</a>

    <div class="container-btn">
        <button  class="btn" onclick="document.location='https://www.google.com'">Google</button>
    </div>


</body>
</html>